body {}

ul li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin: 25px 53px 21px 65px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
}

.header {
    background-color: mediumaquamarine;
}

p {
    text-align: center;
}

.logo {
    width: 18%;
    margin: 2px 2px 2px 2px;
    padding: 6px 2px 2px 2px;
}

.nav {
    float: right;
    width: 67%;
    margin: 32px 119px 2px 2px;
}

.form {}

.input {
    margin: 15px 58px 42px 82px;
    padding: 19px 23px 13px 161px;
}

.title {
    display: -webkit-box;
    margin: 7px 19px 21px 214px;
    padding: 22px 102px 25px 127px;
}

.message {
    padding: 18px 116px 46px 126px;
    margin: 0px 49px 2px 208px;
}

.submit {
    margin: 14px 49px 21px 324px;
    padding: 17px 46px 14px 41px;
}

.view-messages {
    margin: 35px 33px 30px 109px;
    padding: 17px 28px 21px 40px;
}

.view-messages:hover {
    background-color: mediumaquamarine;
}

.content {}

.paratitle {
    text-align: center;
    padding: 9px 129px 2px 2px;
    font-size: 25px;
}

.paramessage {
    text-align: center;
    padding: 0px 136px 2px 2px;
    font-size: 25px;
}

.fieldset {
    background-color: oldlace;
}

.display-button {
    margin: 16px 28px 15px 387px;
}

.display-content {
    font-size: 23px;
}

.footer {
    background-color: mediumaquamarine;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

.para-footer {
    text-align: center;
    font-size: 16px
}

.banner {}

.banner-img {
    width: 53%;
    margin: 15px 26px 17px 264px;
    padding: 2px 2px 2px 2px;
}

.message1 {
    text-align: center;
    font-size: 26px
}