doctype html
html
	head
		title The Bulletin Board
		link(rel="stylesheet", type="text/css", href="css/style.css")
	body
		.header
			img.logo(src="images/logo.jpg")
			ul.nav
				li
					a(href="index.pug") Home
				li
					a(href="messages.pug") View messages
				li
					a(href="postmessages.pug") Post messages
				li
					a(href="#") About me
		// header
		.banner
			img.banner-img(src="images/banner.jpg")


		div.footer
			p.para-footer
				| @ All copyrights reserved