doctype html
html
	head
		title The Bulletin Board
		link(rel="stylesheet", type="text/css", href="css/style.css")
	body
		.header
			img.logo(src="images/logo.jpg")
			ul.nav
				li
					a(href="#") Home
				li
					a(href="messages.pug") Messages
				li
					a(href="#") contact
				li
					a(href="#") About Me
		// header
		fieldset.fieldset
			form.input(method="post", action="/Messages")
				p.paratitle Title:
				input.title(type="text", name="title", placeholder="Give Your Message a Title")
				p.paramessage Message:
				input.message(type="text", name="message", placeholder="Message me ")
				input.submit(type="submit", name="submit", value="submit")
		div.footer
			p.para-footer
				| @ All copyrights reserved
